@use "styles";
@use "color" as *;

body {
    color: $primary-blue-color;
    background-color:  $primary-background-color;
    
    article {
        pre {
            color: $code-background-color;
         }
    } 
    }